<%= link_to target_path(target), class: "ui card" do %>
	<div class="content">
		<div class="header">
			<%= target.name %>
			<% if target.record_today? %>
				<i class="green check square icon" title="已打卡"></i>
			<% else %>
				<i class="disabled check square icon" title="未打卡"></i>
			<% end %>
		</div>
		<div class="meta"><span class="category"><%= target.category.name %></span>
		</div>
		<div class="description"><%= target.detail %></div>
	</div>
	<div class="ui top right attached teal label">
		<i class="icon pointing up"></i><%= target.hits %>			
	</div>
	<div class="extra content">
		<div class="ui left floated black label">
			打卡
			<div class="detail">
				<%= target.days.count %>
			</div>
		</div>
		<div class="ui left floated purple label">
			参与
			<div class="detail">
				<%= target.followed_users.count %>
			</div>
		</div>
		<div class="ui left floated pink label">
			<i class="heart icon"></i><%= target.like_users.count %>
		</div>
		<div class="ui left floated green label">
			<i class="comment icon"></i><%= target.comments.count %>
		</div>
		<div class="right floated author">
			<%= image_tag target.user.avatar.url, class: "ui avatar image" %><%= target.user.name %>
		</div>
	</div>
	<div class="ui red bottom attached progress" id="card_progress" data-percent=<%= target.percent %>>
		<div class="bar"></div>
	</div>		
<% end %>