<div id="follow_part">
	<div class="ui horizontal statistics">
		<div class="purple statistic">
			<div class="value"><%= target.followed_users.count %></div>
			<div class="label">关注</div>
		</div>
		<div class="pink statistic">
			<div class="value"><%= target.like_users.count %></div>
			<div class="label">赞</div>
		</div>
	</div>
	<div class="ui buttons">
		<% if target.followed?(current_user) %>
			<%= form_for(target, url: { action: "unfollowed" }, remote: true, html: { style: "display: inline;"}) do |f| %>
				<div><%= f.hidden_field :id %></div>
				<%= f.submit "取消关注", class: "ui blue button" %>
			<% end %>
		<% else %>
			<%= form_for(target, url: { action: "followed" }, remote: true, html: { style: "display: inline;"}) do |f| %>
				<div><%= f.hidden_field :id %></div>
				<%= f.submit "关注", class: "ui blue button" %>
			<% end %>
		<% end %>

		<% if target.liked?(current_user) %>
			<%= form_for(target, url: { action: "unlike" }, remote: true, html: { style: "display: inline;" }) do |f| %>
				<%= f.submit "已赞", class: "ui button" %>
			<% end %>
		<% else %>
			<%= form_for(target, url: { action: "like" }, remote: true, html: { style: "display: inline;"}) do |f| %>
				<%= f.submit "赞", class: "ui pink button" %>
			<% end %>
		<% end %>
	</div>
</div>