<div id="follow_part">
	<div class="ui horizontal statistics">
		<%= link_to abstract_target_path(target.abstract_target), class: "purple statistic" do %>
			<div class="value"><%= target.followed_users.count %></div>
			<div class="label">人也建立了该目标</div>
		<% end %>
		<div class="pink statistic">
			<div class="value"><%= target.like_users.count %></div>
			<div class="label">人赞过</div>
		</div>
	</div>
	<div class="ui buttons">
		<% if target.followed?(current_user) %>
			<%= link_to "我的进度", target_path(target.followed_targets.find_by(user: current_user)), class: "ui blue button" %>
		<% else %>
			<div class="ui blue button" id="follow_button">建立目标</div>
			<%= render partial: 'targets/follow_part_modal', locals: { target: target.abstract_target.targets.new } %>
		<% end %>

		<% if target.liked?(current_user) %>
			<%= form_for(target, url: { action: "unlike" }, remote: true, html: { style: "display: inline;" }) do |f| %>
				<%= f.submit "已赞", class: "ui button" %>
			<% end %>
		<% else %>
			<%= form_for(target, url: { action: "like" }, remote: true, html: { style: "display: inline;"}) do |f| %>
				<%= f.submit "赞", class: "ui pink button" %>
			<% end %>
		<% end %>
	</div>
</div>