<div class="panel panel-default">
	<div class="panel-heading text-center">
		<span class="text-muted">
			<%= link_to progress.name, target_path(progress) %>
		</span>
		<div class="pull-right">
			<%= image_tag progress.user.avatar_url, class: "round-thumb", size: "20x20" %>
			<span class="text-muted"><%= progress.user.name %></span>
		</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<div class="col-md-6" style="border-right: 1px solid #ccc">
				<p class="text-muted">目标详情：</p>
				<p><%= progress.detail %></p>
			</div>
			<div class="col-md-4" style="border-right: 1px solid #ccc">
				<p><span class="text-muted">开始时间：</span><%= progress.start_time %></p>
				<p><span class="text-muted">结束时间：</span><%= progress.finish_time %></p>
			</div>
			<div class="col-md-2">
				<% if !current_user.nil? && progress.user == current_user %>
					<%= link_to "删除", target_path(progress), method: :delete, data: { confirm: "确定删除？" }, class: "btn btn-danger btn-sm" %>
				<% end %>
			</div>
			<div class="clear"></div>
		</li>
		<li class="list-group-item">
			<div class="col-md-2">
				<span class="text-muted">进度：</span>
			</div>
			<div class="col-md-10">
				<%= render partial: "targets/progress_bar", object: progress %>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
</div>