<div class="ui card">
	<div class="content">
		<div class="header"><%=image_tag current_user.avatar.url, class: "ui avatar image" %><%= link_to current_user.name, user_path(current_user) %></div>
		<div class="description"><%= current_user.introduce %></div>
	</div>
	<div class="ui bottom attached 2 fluid buttons">
		<%= link_to new_abstract_target_path, class: "ui blue button" do %>
			<i class="add icon"></i>创建新目标
		<% end %>
		<div class="or"></div>
		<%= link_to targets_path, class: "ui pink button" do %>
			<i class="user icon"></i>我的目标
		<% end %>
	</div>
</div>

<%= render partial: 'relationships/follow', locals: { user: current_user } %>

<div class="ui accordion">
	<h4 class="ui top attached header inverted title">
		人生的六个高度理论
	</h4>
	<div class="ui attached content segment">
		<ol>
			<li>原则（个人的价值观 原则 目标）</li>
			<li>愿景（3-5年的工作目标）</li>
			<li>目标（1-2年的阶段性成果）</li>
			<li>责任范围（工作上的角色，生活中的角色）</li>
			<li>任务（需要一步以上完成的事情）</li>
			<li>下一步行动（切实具体的动作）</li>
		</ol>
	</div>
</div>

<h4 class="ui top attached header">使用指南</h4>
<div class="ui attached segment">
	<ul>
		<li>根据六个高度理论审视自己</li>
		<li>根据自己的目标创建新目标</li>
		<li>设置目标的内容和时间</li>
		<li>每天坚持打卡</li>
		<li>最终完成目标</li>
	</ul>
</div>

<h4 class="ui top attached header">统计信息</h4>
<div class="ui attached segment">
	<ul>
		<li>建立目标：<%= current_user.targets.count %></li>
		<li>打卡：<%= current_user.days.count %></li>
		<li>赞过：<%= current_user.likeable_targets.count %></li>
	</ul>
</div>

<h4 class="ui top attached header">全站统计</h4>
<div class="ui attached segment">
	<ul>
		<li>全站目标总数：<%= Target.all.count %></li>
		<li>全站打卡天数：<%= Day.all.count %></li>
		<li>会员总数：<%= User.all.count %></li>
	</ul>
</div>