<% provide(:title, "新建目标") %>

<div class="container">
	<div class="ui grid">
		<div class="twelve wide column">
			<div class="ui dividing header">创建新目标</div>
			<%= form_for @new_target, html: { class: "ui large form segment", role: "form" } do |f| %>
				<div class="inline field">
					<%= f.label :name, "目标标题：" %>
					<%= f.text_field :name, class: "twelve wide field", placeholder: "例如：锻炼身体" %>
				</div>
				<div class="inline field">
					<%= f.label :detail, "目标描述：" %>
					<%= f.text_area :detail, class: "twelve wide field", placeholder: "例如：深蹲15个 平板支撑45秒 每天10组" %>
				</div>
				<div class="inline field">
					<%= f.label :category_id, "目标分类：" %>
					<%= f.select :category_id, [["学习", 1], ["工作", 2], ["生活", 3], ["健康", 4]], {}, class: "ui dropdown six wide field" %>
				</div>
				<div class="inline field">
					<%= f.label :start_time, "开始时间：" %>
					<%= f.date_field :start_time, class: "six wide field" %>
				</div>
				<div class="inline field">
					<%= f.label :finish_time, "结束时间：" %>
					<%= f.date_field :finish_time, class: "six wide field" %>
				</div>
				<div class="inline field">
					<%= f.submit "提交", class: "ui blue button" %>
				</div>
			<% end %>
		</div>
		<div class="four wide column"><%= render 'targets/sidebar' %></div>
	</div>
</div>
