<% provide(:title, @target.name) %>

<div class="ui grid">
	<div class="twelve wide column">
		<h3 class="ui top attached header"><i class="icon trophy"></i><%= @target.name %></h3>
		<div class="ui attached segment">
			<div class="ui vertical segment">
				<div class="ui grid">
					<div class="twelve wide column">
						<div class="ui horizontal list">
							<div class="ui teal large label"><i class="icon play"></i>开始时间：<%= @target.start_time %></div>
							<div class="ui orange large label"><i class="icon stop"></i>结束时间：<%= @target.finish_time %></div>
						</div>
						<%= link_to "删除目标", target_path(@target), method: :delete, class: "ui tiny red button" if @target.user == current_user %>
						<div class="ui green message">
							<i class="icon content"></i>目标描述：
							<p><%= @target.detail %></p>
						</div>
					</div>
					<div class="four wide column">
						<% if @target.user == current_user %>
							<%= form_for @today, url: target_days_path(@target, @today), html: { class: "ui small form", role: "form" } do |f| %>
								<div class="field">
									<%= f.text_area :comment, size: "2x2" %>
									<%= @target.days.find_by(date_at: Date.today) ? f.submit("已打卡", class: "ui disabled button") : f.submit("打卡", class: "ui blue button") %>
									<div class="ui teal tag label">今日记录</div>
								</div>
							<% end %>
						<% else %>
							<%= render partial: 'follow_part', locals: { target: @target } %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="ui vertical segment">
				<div class="ui grid">
					<div class="twelve wide column">
						<div id="calendar" 
						<% n = 0 %>
						<% @target.days.each do |day| %>
							data-date-<%= n %>="<%= day.date_at %>"
							data-date-url-<%= n %>="<%= target_day_path(@target, day) unless day.new_record? %>"
							<% n += 1 %>
						<% end %>
						></div>
					</div>
					
					<div class="four wide column">
						<div class="ui small statistics">
							<div class="statistic">
								<div class="value"><%= @target.days.count %></div>
								<div class="label">打卡统计</div>
							</div>
							<div class="statistic">
								<div class="value"><%= (@target.finish_time - Date.today).to_i %></div>
								<div class="label">剩余时间</div>
							</div>
							<div class="statistic">
								<div class="value"><%= ((@target.days.count.to_f / (@target.finish_time - @target.start_time)) * 100).to_i %>%</div>
								<div class="label">完成度</div>
							</div>
							<div class="statistic">
								<div class="value"><%= @target.hits %></div>
								<div class="label">点击</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>

		<div class="ui four cards">
			<% @target.days.last(3).each do |day| %>
				<div class="card">
					<div class="content">
						<div class="header"><%= day.date_at || "暂无记录" %></div>
						<div class="meta"></div>
						<div class="description"><%= day.comment || "显示最近打卡日记录" %></div>
					</div>
				</div>
			<% end %>
			<div class="card" id="today">
				<div class="content">
					<div class="header">未指定</div>
					<div class="description">请在日历上选择要查看的日期</div>
				</div>
			</div>
		</div>

		<%= link_to "展开评论", target_path(@target), class: "fluid ui big blue inverted button", id: "toggle_comment", remote: true %>

		<% unless @target.followed_users.empty? %>
			<div class="ui small header">
				他们也建立了该目标
			</div>

			<div class="ui eight doubling cards">
				<% @target.followed_targets.limit(8).each do |followed_target| %>
					<%= link_to target_path(followed_target), class: "card" do %>
						<div class="image"><%= image_tag followed_target.user.avatar.url %></div>
						<div class="content">
							<div class="header"><%= followed_target.user.name %></div>
							<div class="meta">
								<div>打卡<%= followed_target.days.count %>天</div>
							</div>
						</div>
						<div class="extra content">
							<div>完成度<%= followed_target.percent %>%</div>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
		

	</div>

	<div class="four wide column">
		<% if @target.user == current_user %>
			<%= render 'sidebar' %>
		<% else %>
			<%= render partial: 'users/sidebar', locals: { user: @target.user } %>
		<% end %>
	</div>
</div>