<h1>目标列表</h1>
<table class="ui table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>User</th>
      <th>StartTime</th>
      <th>FinishTime</th>
      <th>Days</th>
      <th>hits</th>
      <th>delete</th>
    </tr>
  </thead>
  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.id %></td>
        <td><%= target.name %></td>
        <td><%= target.user.name %></td>
        <td><%= target.start_time %></td>
        <td><%= target.finish_time %></td>
        <td><%= target.days.count %></td>
        <td><%= target.hits %></td>
        <td><%= link_to "delete", { controller: "admins", action: "delete_target", target_id: "#{target.id}" }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @targets %>