<% if user.errors.any? %>
	<div class="ui warning message" role="alert">
		<div class="header">请检查您的输入</div>
		<% user.errors.full_messages.each do |msg| %>
			<ul class="list">
				<li><%= msg %></li>
			</ul>
		<% end %>
	</div>
<% end %>
<%= form_for(user, url: user_session_path(user), html: { class: "ui form" }) do |f| %>
	<div class="ui segment">
		<h2 class="ui black center aligned header">Welcome</h2>
	</div>
	<div class="inline field">
		<%= f.label :email, "邮箱", class: "three wide field" %>
		<%= f.email_field :email, placeholder: "Email" %>
	</div>
	<div class="inline field">
		<%= f.label :password, "密码", class: "three wide field" %>
		<%= f.password_field :password, placeholder: "Password" %>
	</div>
	<div class="inline field">
		<%= f.submit "登陆", class: "ui blue button", id: "login" %>
	</div>
<% end %>