<%= link_to user_path(user), class: "ui card" do %>
	<div class="image"><%= image_tag user.avatar.url %></div>
	<div class="content">
		<div class="header"><%= user.name %></div>
		<div class="meta">
			<div class="date">注册于<%= user.created_at.strftime "%Y 年 %m 月 %d 日" %></div>
		</div>
		<div class="description"><%= user.introduce %></div>
	</div>
<% end %>

	<%= render partial: "relationships/follow", locals: { user: user } %>

<h4 class="ui top attached header">
统计信息
</h4>
<div class="ui attached segment">
	<div class="ui animated list">
		<div class="item"><i class="info icon"></i>目标总数：<%= user.targets.count %>个</div>
		<div class="item"><i class="info icon"></i>打卡总数：<%= user.days.count %>天</div>
		<div class="item"><i class="info icon"></i>关注目标：<%= user.following_targets.count %>个</div>
		<div class="item"><i class="info icon"></i>赞过：<%= user.likeable_targets.count %>个</div>
	</div>
</div>

<h4 class="ui top attached header">
个人资料
</h4>
<div class="ui attached segment">
	<div class="ui animated list">
		<div class="item"><i class="info icon"></i>生日：<%= user.birth ? user.birth.strftime("%Y 年 %m 月 %d 日") : "未设定" %></div>
		<div class="item"><i class="info icon"></i>注册时间：<%= user.created_at.strftime "%Y 年 %m 月 %d 日" %></div>
		<div class="item"><i class="info icon"></i>简介：<%= user.introduce ? user.introduce : "未设定" %></div>
	</div>
</div>