<div class="ui card">
	<div class="image"><%= image_tag @user.avatar.url %></div>
	<div class="content">
		<%= link_to @user.name, user_path(@user), class: "header" %>
		<div class="meta">
			<div class="date"><%= @user.created_at.strftime "%Y 年 %m 月 %d 日" %></div>
		</div>
		<div class="description"><%= @user.introduce %></div>
	</div>
	<div class="extra content">
		<a>
			<i class="user icon"></i>22 Follower <!-- Todo -->
		</a>
	</div>
</div>

<h4 class="ui top attached header">
个人资料
</h4>
<div class="ui attached segment">
	<ul>
		<li>生日：<%= @user.birth ? @user.birth.strftime("%Y 年 %m 月 %d 日") : "未设定" %></li>
		<li>注册时间：<%= @user.created_at.strftime "%Y 年 %m 月 %d 日" %></li>
		<li>简介：<%= @user.introduce ? @user.introduce : "未设定" %></li>
	</ul>
</div>

<h4 class="ui top attached header">
统计信息
</h4>
<div class="ui attached segment">
	<ul>
		<li>目标总数：<%= @user.targets.count %></li>
		<li>打卡总天数：<%= @days_count %></li>
	</ul>
</div>