<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= link_to "创建新目标", new_target_path, class: "btn btn-primary" %>
			<%= link_to "我的目标", targets_path, class: "btn btn-default" %>
		</div>
	</div>
	<div class="panel panel-default text-center">
		<div class="panel-heading">
			<span class="text-muted"><%= @user.name %></span>
		</div>
		<div class="panel-body">
			<%= image_tag @user.avatar_url %>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<span class="text-muted">个人资料</span>
		</div>
		<div class="panel-body">
			<ul>
				<li>生日：<%= @user.birth.strftime "%Y 年 %m 月 %d 日" unless @user.birth.nil? %></li>
				<li>注册时间：<%= @user.created_at.strftime "%Y 年 %m 月 %d 日" %></li>
				<li>简介：<%= @user.introduce %></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<span class="text-muted">统计信息</span>
		</div>
		<div class="panel-body">
			<ul>
				<li>目标总数：<%= @user.targets.count %></li>
				<li>打卡总天数：<%= @co %></li>
			</ul>
		</div>
	</div>
</div>