<div class="ui blue inverted large menu">
	<div class="container">
		<a href="/" class="item active">捕梦网</a>
		<%= link_to root_path, class: "item" do %>
			<i class="icon home"></i>首页	
		<% end %>
		<%= link_to '/hot', class: "item" do %>
			<i class="icon fire"></i>热门
		<% end %>
		<%= link_to '/great', class: "item" do %>
			<i class="icon idea"></i>精选
		<% end %>
		<div class="ui dropdown item">
			<i class="icon tags"></i>分类 <i class="icon dropdown"></i>
			<div class="menu">
				<% Category.all.each do |ctg| %>
					<%= link_to ctg.name, category_path(ctg), class: "item" %>
				<% end %>
			</div>
		</div>
		<div class="right menu">
			<% if signed_in? %>
				<div class="ui dropdown item">
					<%= image_tag current_user.avatar.url, class: "ui mini circular image inline" %>
					<%= current_user.name %><i class="icon dropdown"></i>
					<div class="menu">
						<%= link_to "我的目标", targets_path, class: "item" %>
						<%= link_to "个人信息", user_path(current_user), class: "item" %>
						<%= link_to "设置", edit_user_registration_path, class: "item" %>
						<div class="ui divider"></div>
						<%= link_to "登出", destroy_user_session_path, class: "item" %>
					</div>
				</div>
			<% else %>
				<%= link_to "登录", '/users/sign_in', class: "item" %>
				<%= link_to "注册", '/users/sign_up', class: "item" %>
			<% end %>
		</div>		
	</div>
</div>
