<!DOCTYPE html>
<html>
<head>
  <title><%= get_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	
	<div class="container" id="container">
		<% flash.each do |key, value| %>
			<div class="ui <%= key %> info floating message">
				<i class="close icon"></i>
				<span><%= value %></span>
			</div>
		<% end %>

		<%= yield %>
	</div>
	
	
	<%= render 'layouts/footer' %>
</body>
</html>
