<% if user.errors.any? %>
			<div class="ui warning message">
				<div class="header">请检查您的输入</div>
				<ul class="list">
					<% user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
<% end %>
<%= form_for user, url: user_registration_path(user), html: { class: "ui form", role: "form", multipart: true } do |f| %>
	<div class="ui segment">
			<h2 class="ui black center aligned header">Welcome</h2>
	</div>
	<div class="inline field">
		<%= f.label :avatar, "头像", class: "three wide field" %>
		<%= f.file_field :avatar, class: "twelve wide field" %>
		<%= f.hidden_field :avatar_cache %>
	</div>
	<div class="inline field">
		<%= f.label :name, "用户名", class: "three wide field" %>
		<%= f.text_field :name, placeholder: "Username" %>
	</div>
	<div class="inline field">
		<%= f.label :email, "邮箱", class: "three wide field" %>
		<%= f.text_field :email, placeholder: "Email" %>
	</div>
	<div class="inline field">
		<%= f.label :password, "密码", class: "three wide field" %>
		<%= f.password_field :password, placeholder: "Password" %>
	</div>
	<div class="inline field">
		<%= f.label :password_confirmation, "确认密码", class: "three wide field" %>
		<%= f.password_field :password_confirmation, placeholder: "Password" %>
	</div>
	<div class="inline field">
		<%= f.submit "注册", class: "ui blue button", id: "signup" %>
	</div>
<% end %>